/* lionbars-wrapper */

.lb-wrap {
	z-index: 0;
	overflow: auto;
	position: relative;
}

/* lionbars-scrollbar */

.lb-v-scrollbar,
.lb-h-scrollbar {
	z-index: 1;
	position: absolute;
	background: #ddd;

	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;

	box-shadow: inset 0 0 0 1px #ccc;
	-webkit-box-shadow: inset 0 0 0 1px #ccc;
	-moz-box-shadow: inset 0 0 0 1px #ccc;
}
.lb-v-scrollbar {
	right: 2px;
	top: 2px;
	width: 7px;
	height: 100%;
}
.lb-h-scrollbar {
	bottom: 2px;
	left: 2px;
	width: 100%;
	height: 7px;
}

/* lionbars-scrollbar-slider */

.lb-v-scrollbar-slider,
.lb-h-scrollbar-slider {
	position: absolute;
	left: 0;
	top: 0;
	background: #666;

	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}
.lb-v-scrollbar-slider {
	width: 7px;
	height: 50px;
}
.lb-h-scrollbar-slider {
	height: 7px;
	width: 50px;
}

.lb-v-scrollbar-slider:hover {
	cursor: n-resize;
}
.lb-h-scrollbar-slider:hover {
	cursor: w-resize;
}

.lb-v-scrollbar ~ .lb-wrap .lb-content,
.lb-h-scrollbar ~ .lb-wrap .lb-content {
	margin-right: 10px;
}